<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
</head>
<body>
  <div id="main">
    <%=yield %> <!-- Sinatra will display this layout.erb file on all Routes -->
  </div>
</body>
</html>
