<header>
  <hgroup>
    <h1><a href="#">User Details</a></h1>
  </hgroup>
</header>
<p>
    <span><a href="/api/user/<%= @user.id %>"></a></span>
    <%=@user.id %> &nbsp;&nbsp;
    <%=@user.email %>
</p>
